body::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: "mobile";
  display: none;
}
@media only screen and (min-width: 1050px) {
  body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: "desktop";
  }
}

/* -------------------------------- 

Main Components 

-------------------------------- */
@media only screen and (min-width: 1050px) {
  body[data-hijacking="on"] {
    overflow: hidden;
  }
}

.cd-section {
  height: 100%;
}
.cd-section:nth-of-type(2) > div {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url("../../img/home/story.jpg");
  background-position: center right;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-clip: content-box;
  -webkit-animation: zoomin 8s ease-in infinite;
  animation: zoomin 35s ease-in infinite;
  overflow: hidden;
}
.cd-section:nth-of-type(3) > div {
  background-color: #d6d1cb;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url("../../img/home/why.jpg");
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-clip: content-box;
  -webkit-animation: zoomin 8s ease-in infinite;
  animation: zoomin 35s ease-in infinite;
  overflow: hidden;
}
.cd-section:nth-of-type(4) > div {
  background-color: #d6d1cb;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url("../../img/home/study.jpg");
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-clip: content-box;
  -webkit-animation: zoomin 8s ease-in infinite;
  animation: zoomin 35s ease-in infinite;
  overflow: hidden;
}
.cd-section:nth-of-type(5) > div {
  background-color: #d6d1cb;
  background-image: url("../../img/home/services.png");
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-clip: content-box;
}
.cd-section:nth-of-type(6) > div {
  background-color: #d6d1cb;
  background-image: url("../../img/home/statistics.png");
  background-position: center right;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-clip: content-box;
  -webkit-animation: zoomin 8s ease-in infinite;
  animation: zoomin 35s ease-in infinite;
  overflow: hidden;
}
.cd-section:nth-of-type(7) > div {
  background-color: #d6d1cb;
}
.cd-section:nth-of-type(8) > div {
  background-color: #867970;
  background-image: url("../../img/home/faw-palace.png");
  background-position: center 20vh !important;
  background-size: 60% !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
[data-animation="parallax"] .cd-section > div,
[data-animation="fixed"] .cd-section > div,
[data-animation="opacity"] .cd-section > div {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* [data-animation="parallax"] .cd-section:first-of-type > div,
[data-animation="fixed"] .cd-section:first-of-type > div,
[data-animation="opacity"] .cd-section:first-of-type > div {
  background-image: url("../../img/img-1.jpg");
}
[data-animation="parallax"] .cd-section:nth-of-type(2) > div,
[data-animation="fixed"] .cd-section:nth-of-type(2) > div,
[data-animation="opacity"] .cd-section:nth-of-type(2) > div {
  background-image: url("/assets/img/img-2.jpg");
}
[data-animation="parallax"] .cd-section:nth-of-type(3) > div,
[data-animation="fixed"] .cd-section:nth-of-type(3) > div,
[data-animation="opacity"] .cd-section:nth-of-type(3) > div {
  background-image: url("../../img/img-3.jpg");
}
[data-animation="parallax"] .cd-section:nth-of-type(4) > div,
[data-animation="fixed"] .cd-section:nth-of-type(4) > div,
[data-animation="opacity"] .cd-section:nth-of-type(4) > div {
  background-image: url("../../img/img-4.jpg");
}
[data-animation="parallax"] .cd-section:nth-of-type(5) > div,
[data-animation="fixed"] .cd-section:nth-of-type(5) > div,
[data-animation="opacity"] .cd-section:nth-of-type(5) > div {
  background-image: url("../../img/img-5.jpg");
} */
@media only screen and (min-width: 1050px) {
  /* .cd-section h2 {
    font-size: 4rem;
    font-weight: 300;
  } */
  [data-hijacking="on"] .cd-section {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  [data-hijacking="on"] .cd-section > div {
    visibility: visible;
  }
  [data-hijacking="off"] .cd-section > div {
    opacity: 0;
  }
  [data-animation="rotate"] .cd-section {
    /* enable a 3D-space for children elements */
    -webkit-perspective: 1800px;
    -moz-perspective: 1800px;
    perspective: 1800px;
  }
  [data-hijacking="on"][data-animation="rotate"]
    .cd-section:not(:first-of-type) {
    -webkit-perspective-origin: center 0;
    -moz-perspective-origin: center 0;
    perspective-origin: center 0;
  }
  [data-animation="scaleDown"] .cd-section > div,
  [data-animation="gallery"] .cd-section > div,
  [data-animation="catch"] .cd-section > div {
    box-shadow: 0 0 0 rgba(25, 30, 46, 0.4);
  }
  [data-animation="opacity"] .cd-section.visible > div {
    z-index: 1;
  }
}

@media only screen and (min-width: 1050px) {
  .cd-section:first-of-type > div::before {
    display: none;
  }
}
@media only screen and (min-width: 1050px) {
  .cd-section > div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  [data-hijacking="on"] .cd-section > div {
    position: absolute;
  }
  [data-animation="rotate"] .cd-section > div {
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
  }
}

.cd-vertical-nav {
  /* lateral navigation */
  position: fixed;
  z-index: 1;
  right: 3%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
}
.cd-vertical-nav a {
  display: block;
  height: 40px;
  width: 40px;
  /* image replace */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(../../img/cd-icon-arrow.svg) no-repeat center center;
}
.cd-vertical-nav a.cd-prev {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-bottom: 10px;
}
.cd-vertical-nav a.inactive {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
@media only screen and (min-width: 1050px) {
  .cd-vertical-nav {
    display: block;
  }
}
@media only screen and (max-width: 1200px) {
  .cd-section {
    height: 100vh;
  }
}

.sec-one {
  position: absolute;
  z-index: 1;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-left: 11%;
  font-size: 60pt;
  line-height: 1.5;
  font-weight: 700;
  width: fit-content;
  text-shadow: 4px 4px #ec1c56;
}

.sec-one-nav {
  font-size: 18pt;
  text-align: center;
  place-content: center;
  background: #ffffff28;
  width: fit-content;
  border-radius: 15px;
  margin: auto;
  padding: 10px;
  z-index: 1;
  margin-bottom: 5px;
}
.sec-one-nav .navbar-nav .nav-item a {
  margin: auto 35px !important;
  transition: 0.3s;
  padding: 10px;
}
.main-link {
  margin-bottom: 15px;
}
.sec-one-nav .navbar-nav .nav-item a:hover {
  font-size: 21pt;
  border-bottom: dotted;
  border-color: #fff;
  color: #fff;
}
