.auib-card {
  border-radius: 0 !important;
  border: none;
  padding: 25px;
  background-color: #ae1836f8 !important;
  color: #ffffff !important;
  transition: all 0.5s ease 0s;
  opacity: 0.9;
}
.auib-card:hover {
  opacity: 1;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.auib-card-img {
  border-radius: 0 !important;
}
.auib-card-title {
  text-align: center;
  margin: 1rem !important;
}
.auib-card-set{
  padding: 4rem!important;
}
.auib-card-set .row img {
  height: 350px;
  object-fit: cover;
  /* width: inherit; */
}

.auib-card-title {
  font-size: 16pt;
}