.card {
  border-radius: 0 !important;
  border: none;
  padding: 5px;
  background-color: #f8f9fa !important;
  color: #343a40 !important;
  transition: all 0.5s ease 0s;
  opacity: 0.9;
}
.card:hover {
  opacity: 1;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.card-img {
  border-radius: 0 !important;
}
.card-title {
  text-align: center;
  margin: 1rem !important;
}
.card-set{
  padding: 4rem!important;
}
.card-set .row img {
  height: 350px;
  object-fit: cover;
  /* width: inherit; */
}

.card-title {
  font-size: 16pt;
}