.navbar {
  box-shadow: 0 0 10px #ac103c;
  background-color: #ac103cd8;
  /* place-content: center !important; */
  z-index: 500;
}
.navbar .left {
  padding-left: 5rem;
}
.navbar .right {
  padding-right: 5rem;
}
.logo {
  width: 13rem;
}
@media screen and (max-width: 720px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  .logo {
    width: 100%;
  }
  .navbar .left {
    padding-left: 0.2rem;
  }
  .navbar .right {
    padding-right: 0.2rem;
  }
}
