.slider .card {
  background: #fff;
  max-height: 30rem;
}
.slider .card .img {
  height: 300px;
  width: 100%;
}
.slider .card .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slider .card .content {
  padding: 10px 20px;
  margin-bottom: 5px;
}
.card .content .title {
  font-size: 25px !important;
  font-weight: 600;
  margin-bottom: 8px;
}
.card .content .sub-title {
  font-size: 20px !important;
  font-weight: 600;
  color: #ac103d;
  line-height: 20px;
  margin-bottom: 5px;
}
.card .content p {
  margin: 15px 0;
}
.card .content .btn {
  display: block;
  text-align: left;
  margin-top: 10px;
}

.owl-nav{
  display: flex;
    justify-content: space-between;
}
.owl-carousel .owl-prev span {
  display: inline-block;
  padding: 5px 25px;
  border-radius: 50%;
  font-size: 40px;
}
.owl-carousel .owl-prev:focus { outline: none; }
.owl-carousel .owl-next span {
  display: inline-block;
  padding: 5px 25px;
  border-radius: 50%;
  font-size: 40px;
}
.owl-carousel .owl-next:focus { outline: none; }