.cd-section-footer {
  background-color: #867970;
  background-image: url("../img/faw-palace.png");
  background-position: center 20vh !important;
  background-size: 60% !important;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}
