.container {
  height: 75vh;
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  /* padding: 9rem 0; */
}
.steper div {
  text-align: center;
  /* margin: 100px auto; */
  margin: auto;
}
.steper a {
  font-size: 1.5rem;
  color: #6b6b6b;
}
.steper a:hover {
  font-size: 1.6rem;
  color: #303030;
}

.content-section {
  height: 100vh;
  /* box-shadow: 0px 0px 10px #ccc; */
  margin: 80px 0;
  /* font-size: calc(100% + 10px); */
      display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-section .col-6 {
  /* height: 75vh; */
  color: #fff;
  font-size: calc(100% + 8px);
}

.content-section .col-6 p {
  text-align: justify;
  font-weight: 200;
  margin-top: 48px;
}
.content-section .content-side-bg {
  background-image: url("../../img/admissions/content-bg.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.content-section .content-photo {
  background-image: url("../../img/admissions/sec-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content-section .content-photo1 {
  background-image: url("../../img/admissions/sec-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.content-section .content-photo2 {
  background-image: url("../../img/admissions/sec-3.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.content-side {
  padding: 3rem 6rem 3rem 7rem;
}

.apply-cards > div > .col-3 {
  padding: 30px 30px 30px 60px;
  color: #000;
  text-align: justify;
}
.apply-cards > div > .col-3 p {
  font-size: calc(100% + 1px);
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 20px;

}
.apply-cards div .col-3{
  background-image: url("../../img/admissions/card-bg2.png");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.title {
  font-size: calc(100% + 30px);
  text-align: center;
  margin: 50px auto;
  
}