.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
.steper div {
  text-align: center;
  margin: auto;
}
.steper a {
  font-size: 1.5rem;
  color: #6b6b6b;
}
.steper-icons svg {
  width: 100%;
  margin-bottom: 20px;
}

.steper-icons:hover svg {
  width: 104%;
  transition: ease-in-out 0.3s;

}
.steper-icons:hover a {
  font-size: 1.6rem;
  color: #303030;
}
.steper-icons:hover polygon.cls-3 {
  fill: #b6747d;
}
.steper-icons:hover path.cls-2 {
  fill: #ae1836;
}
.steper-icons:hover polygon.cls-2 {
  fill: #740f27;
}
.steper-icons:hover rect.cls-1 {
  fill: #ae1836;
}

.content-section {
  /* box-shadow: 0px 0px 10px #ccc; */
  margin: 100px 0;
  /* font-size: calc(100% + 10px); */
  display: flex;
  flex-direction: column;
}

.content-section .col-6 {
  /* height: 75vh; */
  color: #fff;
  font-size: calc(100% + 8px);
}

.content-section .col-6 p {
  
  font-weight: 200;
  margin-top: 48px;
}
.content-section .content-side-bg {
  background-color: #435a69;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 400.64 250.29'%3E%3Cdefs%3E%3Cstyle%3E.auib-section_card-1%7Bfill:%23ae1836;%7D.auib-section_card-2%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cg id='Layer_2-2' data-name='Layer 2'%3E%3Cg id='Layer_1-2-2' data-name='Layer 1-2'%3E%3Crect class='auib-section_card-1' x='0.64' y='0.29' width='400' height='250'/%3E%3Crect class='auib-section_card-2' width='15' height='190'/%3E%3Cpolygon class='auib-section_card-2' points='11.26 19.95 11.26 48.74 27.27 34.34 11.26 19.95'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
}

.content-section .content-photo {
  background-image: url("../../img/admissions/sec-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content-section .content-photo1 {
  background-image: url("../../img/admissions/sec-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.content-section .content-photo2 {
  background-image: url("../../img/admissions/sec-3.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.content-side {
  padding: 3% 3% 3% 6%;
}

.apply-cards > div > .col-3 figure {
  padding: 30px 30px 30px 60px;
  color: #000;
  
}
.apply-cards > div > .col-3 p {
  font-size: calc(100% + 1px);
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 20px;
}
.apply-cards div .col-3 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 360.64 360.29'%3E%3Cdefs%3E%3Cstyle%3E.auib-card-1%7Bfill:%23a9a9ab;%7D.auib-card-2%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Crect class='auib-card-1' x='0.64' y='0.29' width='360' height='360'/%3E%3Crect class='auib-card-2' width='27.57' height='320.85'/%3E%3Cpolygon class='auib-card-2' points='24.69 33.57 24.69 65.63 40.71 49.6 24.69 33.57'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  transition: ease-in-out 0.5s;
}
.apply-cards div .col-3:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 360.64 360.29'%3E%3Cdefs%3E%3Cstyle%3E.auib-card-1%7Bfill:%23b4a3a6;%7D.auib-card-2%7Bfill:%23fff;%7D%3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Crect class='auib-card-1' x='0.64' y='0s.29' width='360' height='360'/%3E%3Crect class='auib-card-2' width='27.57' height='320.85'/%3E%3Cpolygon class='auib-card-2' points='24.69 33.57 24.69 65.63 40.71 49.6 24.69 33.57'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.title {
  font-size: calc(100% + 30px);
  text-align: center;
  margin: 50px auto;
}

.icon svg {
  width: 110px;
  margin: 25px;
}
.icon:hover path.icons-date-1 {
  fill: #ae1836;
}
.icon:hover polygon.icons-date-1 {
  fill: #ae1836;
}
.icon:hover rect.icons-date-2 {
  fill: #ae1836;
}
/*-----------------------------*/
/***** Apollo Glass Effect *****/
/*-----------------------------*/

/* Common style */
.glass-effect {
  overflow: hidden;
}
figure.effect-apollo figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  content: "";
  -webkit-transition: -webkit-transform 2s;
  transition: transform 2s;
  -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg)
    translate3d(0, -100%, 0);
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg)
    translate3d(0, -100%, 0);
}

figure.effect-apollo:hover figcaption::before {
  -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg)
    translate3d(0, 100%, 0);
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg)
    translate3d(0, 100%, 0);
}
